# Created by .ignore support plugin (hsz.mobi)
/box.py
/boxcls.py
/main_GUi.py
/test_scrollbar.py
/test_threaded111.py
/build/main_box_threading/
/dist/
/share/
Lib/site-packages/PyInstaller/
Lib/site-packages/PyMeeus-0.3.7-py3.6.egg-info/
Lib/site-packages/__pycache__/
Lib/site-packages/_distutils_hack/__pycache__/
Lib/site-packages/_pyinstaller_hooks_contrib/
Lib/site-packages/adodbapi/__pycache__/
Lib/site-packages/adodbapi/examples/__pycache__/
Lib/site-packages/adodbapi/test/__pycache__/
Lib/site-packages/altgraph-0.17.dist-info/
Lib/site-packages/altgraph/
Lib/site-packages/certifi-2020.12.5.dist-info/
Lib/site-packages/certifi/__pycache__/
Lib/site-packages/chardet-4.0.0.dist-info/
Lib/site-packages/chardet/__pycache__/
Lib/site-packages/chardet/cli/__pycache__/
Lib/site-packages/chardet/langrussianmodel.py
Lib/site-packages/chardet/metadata/
Lib/site-packages/convertdate-2.2.0.dist-info/
Lib/site-packages/convertdate/
Lib/site-packages/dateutil/__pycache__/
Lib/site-packages/dateutil/parser.py
Lib/site-packages/dateutil/tz.py
Lib/site-packages/dateutil/zoneinfo/zoneinfo--latest.tar.gz
Lib/site-packages/docopt-0.6.2-py3.6.egg-info/
Lib/site-packages/easy-install.pth
Lib/site-packages/et_xmlfile-1.0.1.dist-info/REQUESTED
Lib/site-packages/et_xmlfile/__pycache__/
Lib/site-packages/et_xmlfile/tests/__pycache__/
Lib/site-packages/future-0.18.2-py3.6.egg-info/
Lib/site-packages/future/
Lib/site-packages/holidays-0.10.4-py3.6.egg-info/
Lib/site-packages/holidays/
Lib/site-packages/idna/__pycache__/
Lib/site-packages/isapi/__pycache__/
Lib/site-packages/isapi/samples/__pycache__/
Lib/site-packages/isapi/test/__pycache__/
Lib/site-packages/jdcal-1.4.1.dist-info/REQUESTED
Lib/site-packages/korean_lunar_calendar-0.2.1.dist-info/
Lib/site-packages/korean_lunar_calendar/
Lib/site-packages/libfuturize/
Lib/site-packages/libpasteurize/
Lib/site-packages/openpyxl/__pycache__/
Lib/site-packages/openpyxl/cell/__pycache__/
Lib/site-packages/openpyxl/chart/__pycache__/
Lib/site-packages/openpyxl/chartsheet/__pycache__/
Lib/site-packages/openpyxl/comments/__pycache__/
Lib/site-packages/openpyxl/compat/__pycache__/
Lib/site-packages/openpyxl/descriptors/__pycache__/
Lib/site-packages/openpyxl/drawing/__pycache__/
Lib/site-packages/openpyxl/formatting/__pycache__/
Lib/site-packages/openpyxl/formula/__pycache__/
Lib/site-packages/openpyxl/packaging/__pycache__/
Lib/site-packages/openpyxl/pivot/__pycache__/
Lib/site-packages/openpyxl/reader/__pycache__/
Lib/site-packages/openpyxl/styles/__pycache__/
Lib/site-packages/openpyxl/utils/__pycache__/
Lib/site-packages/openpyxl/workbook/__pycache__/
Lib/site-packages/openpyxl/workbook/external_link/__pycache__/
Lib/site-packages/openpyxl/worksheet/__pycache__/
Lib/site-packages/openpyxl/writer/__pycache__/
Lib/site-packages/openpyxl/xml/__pycache__/
Lib/site-packages/ordlookup/
Lib/site-packages/past/
Lib/site-packages/pefile-2019.4.18-py3.6.egg-info/
Lib/site-packages/pefile.py
Lib/site-packages/peutils.py
Lib/site-packages/pip-19.0.3-py3.6.egg/
Lib/site-packages/pipreqs/__pycache__/
Lib/site-packages/pkg_resources/__pycache__/
Lib/site-packages/pkg_resources/_vendor/__pycache__/
Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/
Lib/site-packages/pkg_resources/extern/__pycache__/
Lib/site-packages/py_dateutil-2.2-py3.6.egg-info/
Lib/site-packages/pycparser/__pycache__/
Lib/site-packages/pycparser/ply/__pycache__/
Lib/site-packages/pyinstaller-4.1.dist-info/
Lib/site-packages/pyinstaller_hooks_contrib-2020.11.dist-info/
Lib/site-packages/pymeeus/
Lib/site-packages/pyrsistent/__pycache__/
Lib/site-packages/python_dateutil-2.2-py3.6.egg-info/
Lib/site-packages/pythonwin/pywin/Demos/__pycache__/
Lib/site-packages/pythonwin/pywin/Demos/app/__pycache__/
Lib/site-packages/pythonwin/pywin/Demos/ocx/__pycache__/
Lib/site-packages/pythonwin/pywin/__pycache__/
Lib/site-packages/pythonwin/pywin/debugger/__pycache__/
Lib/site-packages/pythonwin/pywin/dialogs/__pycache__/
Lib/site-packages/pythonwin/pywin/docking/__pycache__/
Lib/site-packages/pythonwin/pywin/framework/__pycache__/
Lib/site-packages/pythonwin/pywin/framework/editor/__pycache__/
Lib/site-packages/pythonwin/pywin/framework/editor/color/__pycache__/
Lib/site-packages/pythonwin/pywin/idle/__pycache__/
Lib/site-packages/pythonwin/pywin/mfc/__pycache__/
Lib/site-packages/pythonwin/pywin/scintilla/__pycache__/
Lib/site-packages/pythonwin/pywin/tools/__pycache__/
Lib/site-packages/pytz-2019.3.dist-info/
Lib/site-packages/pytz/__pycache__/
Lib/site-packages/pytz/zoneinfo/posixrules
Lib/site-packages/pywin32_ctypes-0.2.0.dist-info/
Lib/site-packages/requests-2.25.1.dist-info/
Lib/site-packages/requests/__pycache__/
Lib/site-packages/setuptools/__pycache__/
Lib/site-packages/setuptools/_vendor/__pycache__/
Lib/site-packages/setuptools/_vendor/packaging/__pycache__/
Lib/site-packages/setuptools/command/__pycache__/
Lib/site-packages/setuptools/extern/__pycache__/
Lib/site-packages/tests/__pycache__/
Lib/site-packages/urllib3/__pycache__/
Lib/site-packages/urllib3/contrib/__pycache__/
Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
Lib/site-packages/urllib3/packages/__pycache__/
Lib/site-packages/urllib3/packages/backports/__pycache__/
Lib/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
Lib/site-packages/urllib3/util/__pycache__/
Lib/site-packages/win32/Demos/__pycache__/
Lib/site-packages/win32/Demos/c_extension/__pycache__/
Lib/site-packages/win32/Demos/dde/__pycache__/
Lib/site-packages/win32/Demos/pipes/__pycache__/
Lib/site-packages/win32/Demos/security/__pycache__/
Lib/site-packages/win32/Demos/security/sspi/__pycache__/
Lib/site-packages/win32/Demos/service/__pycache__/
Lib/site-packages/win32/Demos/win32wnet/__pycache__/
Lib/site-packages/win32/lib/__pycache__/
Lib/site-packages/win32/scripts/VersionStamp/__pycache__/
Lib/site-packages/win32/scripts/__pycache__/
Lib/site-packages/win32/scripts/ce/__pycache__/
Lib/site-packages/win32/test/__pycache__/
Lib/site-packages/win32com/__pycache__/
Lib/site-packages/win32com/client/__pycache__/
Lib/site-packages/win32com/demos/__pycache__/
Lib/site-packages/win32com/makegw/__pycache__/
Lib/site-packages/win32com/server/__pycache__/
Lib/site-packages/win32com/servers/__pycache__/
Lib/site-packages/win32com/test/__pycache__/
Lib/site-packages/win32comext/adsi/__pycache__/
Lib/site-packages/win32comext/adsi/demos/__pycache__/
Lib/site-packages/win32comext/authorization/__pycache__/
Lib/site-packages/win32comext/authorization/demos/__pycache__/
Lib/site-packages/win32comext/axcon
trol/__pycache__/
Lib/site-packages/win32comext/axdebug/__pycache__/
Lib/site-packages/win32comext/axscript/__pycache__/
Lib/site-packages/win32comext/axscript/client/__pycache__/
Lib/site-packages/win32comext/axscript/server/__pycache__/
Lib/site-packages/win32comext/axscript/test/__pycache__/
Lib/site-packages/win32comext/bits/__pycache__/
Lib/site-packages/win32comext/bits/test/__pycache__/
Lib/site-packages/win32comext/directsound/__pycache__/
Lib/site-packages/win32comext/directsound/test/__pycache__/
Lib/site-packages/win32comext/ifilter/__pycache__/
Lib/site-packages/win32comext/ifilter/demo/__pycache__/
Lib/site-packages/win32comext/internet/__pycache__/
Lib/site-packages/win32comext/mapi/__pycache__/
Lib/site-packages/win32comext/mapi/demos/__pycache__/
Lib/site-packages/win32comext/propsys/__pycache__/
Lib/site-packages/win32comext/propsys/test/__pycache__/
Lib/site-packages/win32comext/shell/__pycache__/
Lib/site-packages/win32comext/shell/demos/__pycache__/
Lib/site-packages/win32comext/shell/demos/servers/__pycache__/
Lib/site-packages/win32comext/shell/test/__pycache__/
Lib/site-packages/win32comext/taskscheduler/__pycache__/
Lib/site-packages/win32comext/taskscheduler/test/__pycache__/
Lib/site-packages/win32ctypes/
Lib/site-packages/xlrd/__pycache__/
Lib/site-packages/yarg/__pycache__/
Lib/site-packages/~ip-20.2.4.dist-info/
Lib/site-packages/~ip/
Scripts/__pycache__/
Scripts/futurize-script.py
Scripts/futurize.exe
Scripts/pasteurize-script.py
Scripts/pasteurize.exe
Scripts/pip-script.py
Scripts/pip3-script.py
Scripts/pip3.6-script.py
Scripts/pyi-archive_viewer.exe
Scripts/pyi-bindepend.exe
Scripts/pyi-grab_version.exe
Scripts/pyi-makespec.exe
Scripts/pyi-set_version.exe
Scripts/pyinstaller.exe
__pycache__/
build/myprog/
etc/
main_box_threading.spec
net_48.ico
share/
test_button.py
test_checkbutton1.py
test_checkbutton2.py
test_choicebutton1.py
test_radiobutton1.py
test_scrollbar2.py
test_scrollbar3.py
test_text1.py
test_threading.py
timeoperators.py
use_time_tools.py
